body{
    /* Centering chessboard at middle of page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.chessboard{
    display: grid;
    grid-template-columns: repeat(8,50px);
    grid-template-rows: repeat(8,50px);
    border: 1px solid white;
}

.chessboard div{
    width: 50px;
    height: 50px;
    text-align: center;
}

span{
    color: grey;
}

.white{
    background-color: white;
}

.black{
    background-color: rgb(36, 28, 28);
}